<h1>Index All Compnay</h1>

<% @companies.each do |co| %>
</br>
 <span> <%= link_to co.name, company_path(co)%> </span>
 </br>
<img src="<%= co.image %>">
 </br>
 <%= co.description %>
</br>
<% end %>

<% if user_signed_in?  && current_user.admin%>
<%= link_to 'Add New Company', "../companies/"+@company.id.to_s+"/new"%>
 <% end %>