<div class="cardSizee">
<div class="row cardSizee">
 <% @companies.each do |co| %>
    <div class="col s4">
      <div class="card cardcompanysize">
        <div class="card-content white-text">
          <span class="card-title"><%= link_to co.name, company_path(co),class:"blackmontsheader" %></span>
          <p class="blackmontsbody"><%= co.description %></p>
        </div>
        <div class="card-action">
           <%= link_to "Check offers!", company_path(co), class:"checkoffers"%>
        </div>
      </div>
    </div>
    <% end%>
  </div>
  </div>

<% if user_signed_in?  && current_user.admin%>
<%= link_to 'Add New Company', "/companies/new"%>
 <% end %>
