<div class="row">
  <div class="col s11 m7 l7 offset-m2 offset-l2">

    <div class="card sticky-action">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src='<%= @offer.image %>'>
      </div>

     
      </div>

      <div class="card-action cli">
          <% if user_signed_in?  && current_user.admin%>
          <%= link_to("Edit Offer", edit_offer_path(@offer)) %>
          <%= link_to "Delete Offer", company_path(@offer), method: :delete %>
          <%= link_to 'Add New Offer', "../offers/new"%>
        <% end%>
      </div>
    </div>
  </div>
</div>

  