body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
@font-face {
  src: url(app/assets/fonts/Pirou-Regular.otf);
  font-family: pirou;
}
.navStyleFixed {
  display: flex;
  position: fixed;
  box-shadow: 0 0 10px #171d16;
  z-index: 1;
}
.jura {
  font-family: "Jura", sans-serif;
}
.monts {
  font-family: "Montserrat", sans-serif;
}
.patua {
  font-family: "Patua One", cursive;
}
.concertFont {
  font-family: "Concert One", cursive;
}
.slabo {
  font-family: "Slabo 13px", serif;
}
.noto {
  font-family: "Noto Sans TC", sans-serif;
}
.amaranth {
  font-family: "Amaranth", sans-serif;
}
.kreon {
  font-family: "Kreon", serif;
}
.bree {
  font-family: "Bree Serif", serif;
}
.modak {
  font-family: "Modak", cursive;
}
.baloo {
  font-family: "Baloo", cursive;
}
.rancho {
  font-family: "Rancho", cursive;
}
.megrim {
  font-family: "Megrim", cursive;
}
.oleo {
  font-family: "Oleo Script Swash Caps", cursive;
}
div.container {
  flex: 1 0 auto;
}
.paddingOnLeft {
  margin-left: 20px;
}
.paddingOnRight {
  margin-right: 20px;
}
.blackText {
  color: #16161d;
}
.tabs.tab a {
  color: #16161d;
}
/* nav.brand-logo {
  color: #16161d;
} */
nav ul a {
  color: #16161d;
}
.ranchofoot {
  font-family: "Rancho", cursive;
  font-size: 18px;
}
.brand-logo {
  color: #16161d;
}
.divJack {
  background: #fdd835;
  color: #16161d;
  height: 80px;
  line-height: 80px;
  display: flex;
  text-align: center;
  /* position: fixed; */
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 4px 2px -2px gray;
  z-index: 5;
  /* margin-top: 60px; */
}
div.divJack a,
div.divJack span {
  color: #16161d;
  background: #fdd835;
  transition: all 0.3s;
  flex-grow: 1;
}
div.divJack a:hover,
div.divJack span:hover {
  background: rgba(0, 0, 0, 0.1);
  color: #16161d;
}
.logoWafferha {
  color: black;
  font-size: 50px;
  margin-left: 40%;
  font-family: pirou;
}
.tabFontSize {
  font-size: 20px;
}
.something {
}

.pinned {
  position: fixed !important;
}

html,
body {
  height: 100%;
}

.pin-top {
  position: relative;
}

.pin-bottom {
  position: relative;
}

.pinned {
  position: fixed !important;
}

.btn {
  color: black !important;
  font-family: "Bree Serif", serif;
  /* justify-content: space-between !important; */
  margin: 10px;
}

.renderbtn {
  display: flex;
  /* margin: 5px; */
}

.juratab {
  font-family: "Jura", sans-serif;
  font-size: 15px;
}

.textWhite {
  color: white !important;
}
input:not(.browser-default):focus:not([readonly]) {
  border-bottom: 1px solid black !important;
  -webkit-box-shadow: 0 1px 0 0 black !important;
  box-shadow: 0 1px 0 0 black !important;
}

.githubFooter {
  color: white;
  padding-left: 10px;
}
.dropMyStyle {
  padding: 17px;
}
.select-wrapper input.select-dropdown:focus {
  border-bottom: 2px solid black !important;
}
input {
  font-family: "Montserrat", sans-serif;
}

.select-wrapper input.select-dropdown {
  border-bottom: 2px solid black;
}
[type="checkbox"]:checked + span:not(.lever):before {
  border-right: 2px solid #fdd835;
  border-bottom: 2px solid #fdd835;
}

.companyCard {
  font-family: "Slabo 13px", serif;
  color: black;
  font-size: 50px;
}
.paraCard {
  font-family: "Concert One", cursive;
  font-size: 18px;
}

.upCard {
  font-family: "Slabo 13px", serif;
  color: black;
  font-size: 20px;
}

.headermonts {
  font-family: "Montserrat", sans-serif;
  font-size: 50px;
}
.bodymonts {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
}

.imgSize{
  height: 250px;
}
.paddingTop{
  padding-top: 50px;
}