.navStyleFixed {
  display: flex;
  position: fixed;
  box-shadow: 0 0 10px #171d16;
  z-index: 1;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.jura {
  font-family: "Jura", sans-serif;
}
.baloo {
  font-family: "Baloo", cursive;
}
.rancho {
  font-family: "Rancho", cursive;
}
.megrim {
  font-family: "Megrim", cursive;
}
.oleo {
  font-family: "Oleo Script Swash Caps", cursive;
}

div.container {
  flex: 1 0 auto;
}

.paddingOnLeft {
  margin-left: 20px;
}
.paddingOnRight {
  margin-right: 20px;
}
.blackText {
  color: black;
}

.tabs.tab a {
  color: black;
}
/* nav.brand-logo {
  color: black;
} */
nav ul a {
  color: black;
}

.ranchofoot {
  font-family: "Rancho", cursive;
  font-size: 18px;
}

nav .brand-logo {
  position: absolute;
  color: red;
  display: inline-block;
  font-size: 2.1rem;
  padding: 0;s
  letter-spacing: 12px;
}
